:root{
    --bg-color: #eee;
    --text-color: #572EE5;
    --text-color-span: #5ED7C6;
    --text-color-foot: #000000;
    --bg-nigth: #37383C;
    --bg-nigth-trending: #2223;
    --bg-trending-color: #222326;
}
body.dark{
    background-color: var(--bg-nigth);
}
/* Rules */
.nav_none{
    display: none;
}
.line_purple{
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #572EE5;
}
body.dark .line_purple{
    background-color: var(--text-color-foot);
}
.trending_left{
    display: none;
}
.trending_right{
    display: none;
}
/* Rules */
/* Header - Logo - Menu */
header{
    width: 100%;
    height: 95px;
}
.container_logo_header{
    position: absolute;
    left: 22px;
    top: 30px;
    width: 48.8px;
    height: 48.8px;
    background-image: url(../assets/logo-mobile.svg);
    background-size: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
}
body.dark .container_logo_header{
    background-image: url(../assets/logo-mobile-modo-noct.svg);
}
.container_svg_menu{
    position: absolute;
    right: 26px;
    top: 45px;
  
}
.menu{
    width: 20px;
    height: 20px;
    background-image: url(../assets/burger.svg);
    background-repeat: no-repeat;
}
body.dark .menu{
    background-image: url(../assets/burger-modo-noct.svg);
}
.close_x{
    background-image: url(../assets/close.svg);
}
body.dark .close_x{
    background-image: url(../assets/close-modo-noct.svg);
}
.line_menu{
    position: relative;
    margin: auto;
    width: 30px;
    margin-top: 10px;
    height: 1px;
    background-color: white;
}
nav{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100vh;
    background-color: var(--text-color);
    opacity: 90%;
    z-index: 100;
}
body.dark nav{
    background-color: var(--text-color-foot);
    opacity: 100%;
}
ul{
    position: relative;
    width: 200px;
    top: 25px;
    margin: auto;
}
li{
    width: 160px;
    list-style: none;
    margin-bottom: 30px;
    text-align: center;
}
li:hover{
    border-bottom: 2px solid #5ED7C6;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
}
body.dark a{
    color: var(--bg-color);
}
.hom{
    color: #9CAFC3;
}
/* Header - Logo - Menu */
/* Main */
.container_h1{
    position: relative;
    margin: auto;
    width: 270px;
    height: 99px;
}
h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: var(--text-color);
    text-align: center;
    line-height: 33px;
}
body.dark h1{
    color: var(--bg-color);
}
span{
    color: var(--text-color-span);
}
.container_ilustra{
    position: relative;
    top: 25px;
    margin: auto;
    width: 273px;
    height: 130px;
}
.img_main{
    width: 273px;
    height: 130px;
}
.container_search_icon{
    position: relative;
    margin: auto;
    top:25px;
    width: 90vw;
    max-width: 551px;
    height: 50px;
    border-radius: 27px;
    border: solid 1px #572EE5;
}
body.dark .container_search_icon{
    border: solid 1px var(--bg-color);
}
input{
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    border: none;
    outline:none;
    background: transparent;
}
input::placeholder{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
}
body.dark input::placeholder{
    color: var(--bg-color);
}
.icon_search{
    background-image: url(../assets/icon-search.svg);
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 15px;
    cursor: pointer;
}
.x_cancel_search{
    background-image: url(../assets/close.svg);
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 15px;
    cursor: pointer;

}
body.dark .x_cancel_search{
    background-image: url(../assets/close-modo-noct.svg);
}
body.dark .icon_search{
    background-image: url(../assets/icon-search-modo-noct.svg);
}
.container_title_trending_reactions{
    position: relative;
    margin: auto;
    top:31px;
    width: 80vw;
    max-width: 400px;
    height: 50px;
}
.title_trending{
    text-align: center;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: var(--text-color);
    text-align: center;
  
}
body.dark .title_trending{
    color: var(--bg-color);
}
.p_trending{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: var(--text-color);
    text-align: center;
    line-height: 25px;

}
body.dark .p_trending{
    color: var(--bg-color);
}
body.dark .p_trending{
    color: var(--bg-color);
}
.line_search{
    position: relative;
    margin: auto;
    top: 100px;
    width: 50vw;
    max-width: 200px;
    height: 1px;
    background-color: #9CAFC3 ;
}
.section_search{
    position: relative;
    margin: auto;
    width: 100%;
    top: 120px;
}
.search_gifos_flex{
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.actions_users{
    display: none;
}
.showMore{
    position: relative;
    background-image: url(../assets/CTA-ver-mas.svg);
    margin: auto;
    top: 30px;
    width: 128px;
    height: 50px;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: all .3s ease;
}
.showMore:hover{
    background-image: url(../assets/CTA-ver-mas-hover.svg);
}
body.dark .showMore{
    background-image: url(../assets/CTA-ver+-modo-noc.svg);
}
body.dark .showMore:hover{
    background-image: url(../assets/CTA-ver+hover-modo-noc.svg); 
}
/* Main */
/* max_gif */
.max_gif{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, .9);
    z-index: 999;
}
.actions_users_max{
    position: absolute;
    bottom: 20px;
    right: 0px;
}
.close_max_gif{
    position: absolute;
    right: 40px;
    top: 80px;
}
.container_gif_max_title_actions{
    position: relative;
    margin: auto;
    width: 70vw;
    height: 400px;
    top: 130px;
    max-width: 695px;
 
}
.max_gifos{
    position: absolute;
    width: 70vw;
    max-width: 695px;
    height: 275px;
    border: solid 1px black;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);

}
.title_max_gif{
    position: absolute;
    bottom: 0px;
    left: 0px;
}
h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-bottom: -12px;
}
.p_gif_max{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    text-align: center;
}
/* max_gif */
/* Section - Tranding - GIFOS */
.section_trending_gifos{
    position: relative;
    top: 150px;
    width: 100%;
    height: 430px;
    background-color: #F3F5F8;;
}
body.dark .section_trending_gifos{
    background-color: var(--bg-trending-color);
}
.container_title_trending{
    position: relative;
    margin: auto;
    top: 41px;
    width: 80vw;
    max-width: 400px;
    height: 50px;
}
.gifos{
    font-size: 20px;
    line-height: 30px;
}
.p_trending_gifos{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color-foot);
    text-align: center;
    line-height: 23px;
  
}
body.dark .p_trending_gifos{
    color: var(--bg-color);
}
.container_trending_gifos_flex{
    display: flex;
    position: relative;
    margin: auto;
    top: 130px;
    width: 90vw;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
    overflow: scroll;
}
.gifos_trending{
    display: flex;
    width: 243px;
    height: 187px;
    margin: 5px;
    border: solid 1px black;
}
.info_gif{
    position: relative;
    width: 243px;
    height: 187px;
    background-color:rgba(87, 46, 229, .5);
    opacity: 0;
    z-index: 9999;
}
/* Section - Tranding - GIFOS */
/* Footer */
footer{
    position: relative;
    top: 160px;
    width: 100%;
    height: 160px;
}
h3{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color: var(--text-color-foot);
    letter-spacing: 0;
    text-align: center;
}
body.dark h3{
    color: var(--bg-color);
}
.container_rrss{
    width: 90px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    position: relative;
    top: 20px;
    margin: auto;
}
.face{
    width: 18px;
    height: 18px;
    background-image: url(../assets/icon_facebook.svg);
    background-repeat: no-repeat; 
}
body.dark .face{
    background-image: url(../assets/icon_facebook_noc.svg);
}
.twitter{
    width: 18px;
    height: 18px;
    background-image: url(../assets/icon-twitter.svg);
    background-repeat: no-repeat;
}
body.dark .twitter{
    background-image: url(../assets/icon_twitter_noc.svg);
}
.insta{
    width: 18px;
    height: 18px;
    background-image: url(../assets/icon_instagram.svg);
    background-repeat: no-repeat;
}
body.dark .insta{
    background-image: url(../assets/icon_instagram_noc.svg);
}
.rrss{
    cursor: pointer;
}
.reserved{
    position: relative;
    top: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--text-color-foot);
    letter-spacing: 0;
    line-height: 20px;
    text-align: center;
}
body.dark .reserved{
    color: var(--bg-color);
}
.foot{
    position: absolute;
    bottom: 0px;
}
/* Footer */
@media screen and (min-width:1024px){
    .logoUp{
        position: absolute;
        left: 80px;
        width: 68px;
        height: 68px;
        top: 25px;
   
        z-index: 9999;
    }
    .container_logo_header{
        position: absolute;
        left: 80px;
        width: 68px;
        height: 68px;
        background-image: url(../assets/logo-desktop.svg);
        background-size: 68px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
    body.dark .container_logo_header{
        background-image: url(../assets/Logo-modo-noc.svg);
    }
    .createGif{
        position: absolute;
        background-image: url(../assets/button-crear-gifo.svg);
        right: 60px;
        width: 54px;
        height: 54px;
        top:25px;
        z-index: 9999;
        transition: all .3s ease;
    }
    .createGif:hover{
        background-image: url(../assets/CTA-crear-gifo-hover.svg);
    }
    body.dark .createGif{
        background-image: url(../assets/CTA-crear-gifo-modo-noc.svg);
    }
    body.dark .createGif:hover{
        background-image: url(../assets/CTA-crear-gifo-hover-modo-noc.svg);
    }
    .nav_none{
        display: block;
    }
    .container_svg_menu{
        display: none;
    }
    nav{
        position: absolute;
        top: 15px;
        width: 100%;
        height: 80px;
        background-color: transparent;
    }
    body.dark nav{
        background-color: transparent;
    }
    .line_menu{
        display: none;
    }
    ul{
        display: inline-block;
        position: absolute;
        right: 90px;
        top: 30px;
        width: 700px;
        height: 25px;

    }
    li{
        display: inline-block;
        margin-bottom: 0px;
    }
    a{
        font-size: 13px;
        color: var(--text-color);
        letter-spacing: 0;
        text-align: center;
    }
    .crea_tu_desktop{
        display: none;
    }
  /* Main */
    main{
        position: relative;
        top: 60px;
    }
    .container_h1{
        position: relative;
        margin: auto;
        width: 600px;
        height: 99px;
       
    }
    h1{
        font-size: 35px;
        line-height: 50px;
    }
    .container_ilustra{
        position: relative;
        top: 25px;
        margin: auto;
        width: 399px;
        height: 190px;
    }
    .img_main{
        width: 399px;
        height: 190px;
    }
    .container_search_icon{
        position: relative;
    }
    input{
        position: absolute;
        margin: 0px;
        left: 40px;
        border: none;
        outline:none;
    }
    .container_title_trending_reactions{
        top:70px;
    }
    /* Main */
    /* max_gif */
    .actions_users_max{
        bottom: 0px;
    }
    .close_max_gif{
        right: 150px;
    }
    .container_gif_max_title_actions{
        height: 480px;
    }
    .max_gifos{
        height: 385px;
    }
    .title_max_gif{
        position: absolute;
        bottom: -13px;
        left: 0px;
    }
    h4{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        text-align: center;
        margin-bottom: -12px;
    }
    .p_gif_max{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
    }
    .button_slider_left{
        position: absolute;
        left: 200px;
        width: 40px;
        height: 40px;
        top: 310px;
        background-image: url(../assets/button-slider-left.svg);
        cursor: pointer;
    }
    body.dark .button_slider_left{
        background-image: url(../assets/button-slider-left-md-noct.svg);
    }
    .button_slider_right{
        position: absolute;
        right: 200px;
        width: 40px;
        height: 40px;
        background-image: url(../assets/Button-Slider-right.svg);
        top: 310px;
        cursor: pointer;
    }
    body.dark .button_slider_right{
        background-image: url(..//assets/button-slider-right-md-noct.svg);
    }
    /* max_gif */
    /* trending_gifos */
    .section_trending_gifos{
        top: 250px;
        height: 640px;
    }
    .gifos{
        font-size: 25px;
    }
    .p_trending_gifos{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        color: var(--text-color-foot);
        text-align: center;
        line-height: 23px;
    }
    .gifos_trending{
        width: 330px;
        height: 275px;
    }
    .info_gif{
        position: relative;
        width: 357px;
        height: 275px;
        background-color:rgba(87, 46, 229, .5);
        opacity: 0;
        z-index: 9999;
     
    }
    .info_gif:hover{
        opacity: 1;
    }
    .actions_users{
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        position: absolute;
        right: 15px;
        top: 10px;
        width: 130px;
    }
    .tamaño_actions_users{
        width: 32px;
        height: 32px;
    }
    .icon_fav{
        background-image: url(../assets/icon-fav.svg);
        cursor: pointer;
    }
    .icon_fav:hover{
        background-image: url(../assets/icon-fav-hover.svg);
    }
    .icon_download{
        background-image: url(../assets/icon-download.svg);
        cursor: pointer;
    }
    .icon_download:hover{
        background-image: url(../assets/icon-download-hover.svg);
    }
    .icon_max{
        background-image: url(../assets/icon-max-normal.svg);
        cursor: pointer;
    }
    .icon_max:hover{
        background-image: url(../assets/icon-max-hover.svg);
    }
    .trending_left{
        display: block;
        left: 50px;
        transition: all .3s ease;
    }
    .trending_left:hover{
        background-image: url(../assets/button-slider-left-hover.svg);
    }
    .trending_right{
        display: block;
        right: 50px;
        transition: all .3s ease;
    }
    .trending_right:hover{
        background-image: url(../assets/Button-Slider-right-hover.svg);
    }
    .container_trending_gifos_flex{
        width: 80vw;
        overflow: hidden;
    }
    /* Footer */
    footer{
        position: relative;
        top: 250px;
        width: 100%;
        height: 116px;
    }
    h3{
        position: absolute;
        top: 35px;
        left: 60px;
    }
    .container_rrss{
        width: 90px;
        position: absolute;
        top: 50px;
        left: 180px;
        margin: auto;
    }
    .reserved{
        position: absolute;
        right: 100px;
        top: 30px;
    }
    .foot{
        position: absolute;
        bottom: 0px;
    }
    .face{
        background-image: url(../assets/icon_facebook.svg);
        transition: all .3s ease;
    }
    .face:hover{
        background-image: url(../assets/icon_facebook_hover.svg);
    }
    .twitter{
        background-image: url(../assets/icon-twitter.svg);
        transition: all .3s ease;
    }
    .twitter:hover{
        background-image: url(../assets/icon-twitter-hover.svg);
    }
    .insta{
        background-image: url(../assets/icon_instagram.svg);
        transition: all .3s ease;
    }
    .insta:hover{
        background-image: url(../assets/icon_instagram-hover.svg);
    }
    /* Footer */
}
.none{
    display: none;
}
